{{#each ideas}}
<div class="card card-body mb-2">
    {{!-- <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block">Edit</a> --}}

    <table>
 
  <tbody>
    <tr>
      <td><h4>{{title}}</h4>
    <p>{{details}}</p></td>
      <td class="ml-auto"><a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block">Edit</a></td>
      <td  class="ml-auto"><form action="/ideas/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="DELETE">
      </form>
    </tr>
    </tbody>
    </table>
</div>
{{else}}
<p>No video ideas listed</p>
{{/each}}